<template name="Dropzone">
	<div class="row dropzone-cont">
		<div class="col-md-4">
			<div id="dropzone-left" class="dropzone">
				<div class="well well-drop-zone">
					Drop file(s) here to upload
				</div>
			</div>
			<span class="btn btn-info upload-button-wrap"> Upload first image...
				<input type="file" name="" class="upload-button" id="inp1">
			</span>
		</div>
		<div class="col-md-4">
			<button class="btn btn-info" id="upload"> Upload </button>
		</div>
		<div class="col-md-4">
			<div id="dropzone-right" class="dropzone">
				<div class="well well-drop-zone">
					Drop file(s) here to upload
				</div>
			</div>
			<span class="btn btn-info upload-button-wrap"> Upload second image...
				<input type="file" name="" class="upload-button" id="inp2">
			</span>
		</div>
	</div>
</template>
