<template name="Dropzone">
	<div class="row">
		<div class="col-md-4">
			<div id="dropzone-left" class="dropzone">
				<div class="well well-drop-zone">
					Drop file(s) here to upload
				</div>
			</div>
			<input type="file" name="" id="inp1">
		</div>
		<div class="col-md-4">
			<button class="btn btn-info" id="upload"> Upload </button>
		</div>
		<div class="col-md-4">
			<div id="dropzone-right" class="dropzone">
				<div class="well well-drop-zone">
					Drop file(s) here to upload
				</div>
			</div>
			<input type="file" name="" id="inp2">
		</div>
	</div>
</template>
