  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1;text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0, width=device-width">
  </head>
  <template name="Header">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">D</a>
          <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}} 

          </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="">
          <ul class="nav navbar-nav main-nav">
            <li><a href="/feed">FEED <span class="sr-only">(current)</span></a></li>
            <li><a href="/profile">PROFILE</a></li>
            <li class="dropdown"> 
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{#if notifsCount}}
                <span class="badge badge-inverse">{{notifsCount}}</span>
                {{/if}}
                <i class="fa fa-bell"></i>
                <span class="caret"></span>
              </a>
              <ul class="notifications dropdown-menu">
                <li id="past-notifs-li"><a href="/notifications"> <i class="fa fa-history"></i> See past notifications </a></li>
                {{#each notifications}}
                {{> Notif}}
                {{/each}}
                {{#if Template.subscriptionsReady}}
                {{#if hasMoreNotifs}}
                <li class="js-load-more notif" >Load More</li>
                {{/if}}
                {{else}}
                <li class="loading">{{>spinner}}</li>
                {{/if}}
              </ul>
            </li>
          </ul>
          
          {{#if currentUser}}
          <img src="{{ profPic }}" class="profPic" id="navbar-profPic"/>
          {{/if}}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="modal" id="contactModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail"}}
            <fieldset>
              <legend>Contact Us</legend>
              {{> afQuickField name="name"}}
              {{> afQuickField name="email"}}
              {{> afQuickField name="message" rows=5}}
              <div>
                <button type="submit" class="btn cbtn cbtn-action">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
              </div>
            </fieldset>
            {{/autoForm}}
          </div>
        </div>
      </div>
    </div>
  </template>

  <template name="_loginButtonsAdditionalLoggedInDropdownActions">
    {{#if isLoggedInNatively}}
    <span class="btn btn-default btn-block upload-button-wrap"> Change profile picture...
      <input type="file" name="" accept="image/*" class="upload-button" id="set-profile-picture">
    </span>
    {{/if}}
    <button class="btn btn-default btn-block" data-toggle="modal" data-target="#contactModal"> Contact/Feedback</button>

  </template>