.pair-info {
  color: #888;
  font-family: Rockwell,Georgia,Arial;
  font-size: 10px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background-color: #fff;
  display: block;
  padding: 4px;
  margin-bottom: 5px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  img {
    float:left;
  }
  h4 {
    float:left;
    margin-left: 1em;
  }
  p {
    float:left;
    padding-top: 15px;
    margin-left: 1em;
  }
}
.delete-pair {
  cursor: pointer;
  font-size:3em;
  .fa-trash {
    float:right;
  }
}

.delete-pair:hover {
  text-decoration: none;
}
.profPic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.dilemma-or {
  text-align: center;
  font-weight: 700;
  font-size: 6em;
}
.imgVotes {
  font-size: 2em;
  font-weight: 700;
  .fa-thumbs-up{
    cursor: pointer;
  }
}
